grammar {{name}};
/*
 * Parser Rules
 */
{{root_rule}} : {{first_one}}
{{#remainers}}
    | {{little}}
{{/remainers}}
    ;

{{#selmahos}}
{{little}} : {{big}} ;
{{/selmahos}}

/*
 * Lexer Rules
 */

{{#selmahos}}
{{big}} : {{firstmavo}}
    {{#remainmavo}}
        | {{name}}
    {{/remainmavo}}
    ;

{{/selmahos}}